<base href="/"/>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="static/javascript/jquery.min.js"></script>

	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css">
	<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>

	<link rel="stylesheet" type="text/css" href="static/css/global/styles.css">

	<script type="text/javascript" src="static/javascript/jquery.plugin/jquery.form.js"></script>
	<script type="text/javascript" src="static/javascript/global/common/frame.js"></script>

	<script type="text/javascript" src="static/javascript/global/common/json2.js"></script>